<mat-card class="contact-item" *ngFor="let contact of contacts$ | async" (click)="openContactDetails(contact.id)">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="contact-icon" color="primary">person_pin</mat-icon>
    </div>
    <mat-card-title>{{ contact.name }}</mat-card-title>
    <mat-card-subtitle>{{ contact.email }}</mat-card-subtitle>
    <div class="contact-details-container">
      <mat-chip-list>
        <mat-chip>{{ contact.budget | currency }}</mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-header>
</mat-card>
