:host {
  display: flex;
  flex-direction: column;
  padding-bottom: 65px;
}

.contact-item {
  cursor: pointer;
  
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.contact-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.contact-details-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
