<form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off" novalidate>
  <mat-form-field>
    <input matInput formControlName="name" placeholder="Name" [required]="!viewMode" [readonly]="viewMode">
  </mat-form-field>
  <mat-form-field>
    <input type="email" matInput formControlName="email" placeholder="Email" [required]="!viewMode" [readonly]="viewMode">
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput formControlName="budget" placeholder="Budget" min="0" [required]="!viewMode" [readonly]="viewMode">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender" *ngIf="!viewMode else genderPreview" required>
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
    </mat-select>
    <ng-template #genderPreview>
      <input matInput [value]="form.value.gender | titlecase" readonly>
    </ng-template>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="birthDate" placeholder="Birth date" [matDatepicker]="picker" [required]="!viewMode" [readonly]="viewMode">
    <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="viewMode"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="actions-container">
    <button type="submit" mat-raised-button color="primary" *ngIf="!viewMode">Add</button>
  </div>
</form>