:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

mat-toolbar {
  flex-shrink: 0;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.content-container {
  padding: 20px;
  flex-grow: 1;
  overflow: auto;
}

.add-contact-fab-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
