<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Contact Notes</span>
    <span class="example-spacer"></span>
    <a mat-icon-button routerLink="/contacts">
      <mat-icon>view_list</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
  
<section class="content-container">
  <router-outlet></router-outlet>
</section>

<button class="add-contact-fab-button" mat-fab color="primary" routerLink="/contacts/add">
  <mat-icon>person_add</mat-icon>
</button>
